@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/NotoSansCJKjp-Medium.woff") format('woff'), url("../fonts/NotoSansCJKjp-Medium.otf")  format('opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSansCJKjp-Regular.woff") format('woff'), url("../fonts/NotoSansCJKjp-Regular.otf")  format('opentype');
}