@charset "utf-8";

@import "normalize", "github.min", "ubuntu";

$link-color     : #2173d9;
$white-color    : #FCFDFC;
$text-color     : #3D3C40;
$meta-color     : #57626b;
$border-color   : #E9ECED;
$light-bg-color : #F5F5F5;
$max-width      : 728px;

html { font-size: 62.5%; }

body {
  font-family: 'Ubuntu', Hiragino Sans, 'ヒラギノ角ゴシック', Hiragino Kaku Gothic ProN, 'ヒラギノ角ゴ ProN W3', 'Noto Sans Japanese', Meiryo, sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  color: $text-color;
  background: $white-color;
}

h1, h2, h3 { font-weight: 400; line-height: 1.5; }
h1 { font-size: 1.8rem; }
h2 , h3 { font-size: 1.6rem; }
p { font-size: 1.4rem; line-height: 1.75; }
a, a:hover { color: $link-color; text-decoration: none; }
img { max-width: 100%; height: auto; }
code { font-family: Menlo, Monaco, Consolas, monospace; }

.container {
  width: 100%;
  overflow: hidden;
}

.row, main {
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1.6rem;
  box-sizing: border-box;
  &:after { @extend .clearfix; }
}

.column { float: left; width: 50%; }
.clearfix:after { content: ""; display: table; clear: both; }

header {
  height: 5.6rem;
  margin-bottom: 3.2rem;
  border-bottom: 1px solid $border-color;

  h1 { margin: 0; }

  .site-title {
    position: absolute;
    left: 1.6rem;
    display: inline-block;
    height: 5.6rem;
    padding-left: 4.2rem + 1.6rem;
    color: $text-color;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 5.6rem;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: 4.0rem;
    background-position: left center;
    &:hover { color: $link-color; }
  }

  .site-content {
    position: absolute;
    right: 1.6rem;
    display: inline-block;
    a {
      display: inline-block;
      padding: 0 0.4rem;
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 5.6rem;
      color: $meta-color;
      &:hover { color: $link-color; }
    }
  }
}

footer {
  padding: 3.2rem 0;
  border-width: 20%;
  border-top: 1px solid $border-color;

  span:before {
    margin: 0 0.8rem;
    color: $meta-color;
    content: '\2219';
  }
  span:first-child:before {
    content: none;
  }
  a { color: $meta-color; }
}

.list-title {
  margin: 3.2rem 0;
  color: $meta-color;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.list-entry {
  margin-top: -1.2rem; // リスト内 padding を打ち消し
  margin-bottom: 3.2rem;
  padding: 0;
  list-style: none;

  li {
    border-bottom: 1px solid $border-color;
  }

  a {
    display: block;
    min-height: 4.0rem;
    padding: 1.2rem 0;
    color: $text-color;
    &:hover { color: $link-color; }
  }

  .entry-title { margin: 0 0 0.4rem; font-size: 1.6rem; }
  .entry-meta { color: $meta-color; }
  .entry-excerpt { margin: 0.4rem 0 0; color: $meta-color; line-height: 1.5; }
}

article {
  margin-bottom: 3.2rem;

  .entry-title { margin: 0 0 0.4rem; font-size: 1.8rem; font-weight: 500; }
  .entry-meta { color: $meta-color; a { color: $meta-color; } }
  .entry-excerpt { margin: 0.4rem 0 0; color: $meta-color; line-height: 1.5; }

  h2 { margin: 4.8rem 0 2.4rem; font-weight: 500; padding-bottom: 0.8rem; border-bottom: 2px solid $border-color; }
  h3 { margin: 3.6rem 0 2.4rem; font-weight: 500; }
  p  { margin: 2.4rem 0; }
  a:hover { text-decoration: underline; }

  code { padding: 0.2rem 0.4rem; font-size: 90%; background: $light-bg-color !important; border-radius: 4px; }
  pre > code { display: block; padding: 0.8rem !important; line-height: 1.5; white-space: pre-wrap; word-wrap: break-word; }

  ul, ol { margin: 2.4rem 0; padding-left: 2.4rem; }
  ul { list-style: desc; }
  ol { list-style: decimal; }
  li { margin-bottom: 0.4rem; font-size: 1.4rem; line-height: 1.5; }

  hr { height: 2px; margin: 2.4rem 0; border: 0; background-color: $border-color; }
  img { width: auto; max-height: $max-width * 3/4; }
  p img { border-radius: 4px; }
  iframe { margin: 2.4rem 0; padding: 0; }
  blockquote { margin: 2.4rem 0; font-style: italic; }

  .align-center { display: block; margin: 0 auto; }
  .application-icon { margin-right: 0.8rem; width: 8rem; height: 8rem; }

  .amazlet-box {
    margin: 2.4rem 0 !important;
    padding: 0.8rem;
    background: $light-bg-color;
    border-radius: 4px;
  }

  .application-box {
    margin: 2.4rem 0;
    font-size: 1.4rem;
    line-height: 1.5;
    img { float: left; width: 8rem; height: 8rem; margin-right: 0.8rem; }
  }
}

.google-adsense {
  margin-bottom: 3.2rem;
  color: $meta-color;
  font-size: 80%;
  .label { margin-bottom: 0.4rem; }
}

#disqus_thread {
  margin-bottom: 3.2rem;
}

.share {
  margin: 3.2rem 0;
  padding-top: 1.6rem;
  border-top: 2px solid $border-color;
  text-align: right;
  .twitter, .facebook, .pocket {
    display: inline-block;
    border-radius: 2px;
    background-color: $border-color;
    color: white;
    img {
      display: inline-block; vertical-align: middle; width: 1.8rem; height: 1.8rem;
      padding: 0.4rem;
    }
  }
  .twitter:hover  { background-color: #55ACEE; }
  .facebook:hover { background-color: #3B5998; }
  .pocket:hover   { background-color: #F04054; }
}

.view-more-posts {
  margin: 3.2rem 0;
  text-align: center;
  a { font-size: 1.8rem; font-weight: 700; }
  a:hover { text-decoration: underline; }
  small { color: $meta-color; }
}

.asterisk {
  margin: 3.2rem 0;
  text-align: center;
  &:before {
    font-size: 2.1rem;
    color: $border-color;
    content: '* * *';
  }
}
