:root {
  --sans-font-family: -apple-system, system-ui, 'Noto Sans JP', Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
  --mono-font-family: Monaco, Menlo, Courier New, monospace;
  --font-size: 16px;
  --max-width: 688px; /* テキスト領域（16px * 40）+ 余白（48px） */

  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f5f5;
  --primary-text-color: #333333;
  --secondary-text-color: #5c5c5c;
  --border-color: #e0e0e0;
  --link-color: #0052cc;

  --astro-code-color-text: #333333;
  --astro-code-color-background: #f5f5f5;
  --astro-code-token-constant: #0550ae;
  --astro-code-token-string: #333333;
  --astro-code-token-comment: #6e7781;
  --astro-code-token-keyword: #cf222e;
  --astro-code-token-parameter: #953800;
  --astro-code-token-function: #6639ba;
  --astro-code-token-string-expression: #0a3069;
  --astro-code-token-punctuation: #333333;
  --astro-code-token-link: #0052cc;

  font-family: var(--sans-font-family);
  font-weight: normal;
  font-size: var(--font-size);
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  line-height: 1.7;

  --hljs-text-color: #ffffff;
  --hljs-background-color: #002451;
}

[data-prefers-color-scheme="dark"] {
  --primary-background-color: #161F2B;
  --secondary-background-color: #1E2732;
  --primary-text-color: #ffffff;
  --secondary-text-color: #cccccc;
  --border-color: #38444D;
  --link-color: #8ab4f8;

  --astro-code-color-text: #ffffff;
  --astro-code-color-background: #1E2732;
  --astro-code-token-constant: #79c0ff;
  --astro-code-token-string: #ffffff;
  --astro-code-token-comment: #8b949e;
  --astro-code-token-keyword: #ff7b72;
  --astro-code-token-parameter: #ffa657;
  --astro-code-token-function: #d2a8ff;
  --astro-code-token-string-expression: #a5d6ff;
  --astro-code-token-punctuation: #ffffff;
  --astro-code-token-link: #8ab4f8;
}

a {
  color: var(--link-color);
}
a:hover {
  color: var(--link-color);
}

h1 {
  line-height: 1.5;
  font-weight: 700;
}
h2 {
  line-height: 1.5;
  font-weight: 700;
}
h3 {
  line-height: 1.5;
  font-weight: 700;
}