.markdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}
.markdown > * {
  width: var(--width-text);
}
.markdown > pre,
.markdown > .shiki-filename {
  width: var(--width-wide);
}
.markdown > p:has(> img),
.markdown > figure {
  width: var(--width-wide);
}
.markdown h2 {
  margin-top: 48px;
  font-size: 24px;
  color: var(--primary-text-color);
}
.markdown h3 {
  font-size: 20px;
  color: var(--primary-text-color);
}
.markdown.category-blog p {
  text-align: justify;
}
.markdown a {
  text-decoration: underline;
}
.markdown a:hover {
  color: var(--link-color);
  text-decoration: underline dotted;
}
.markdown small {
  font-size: 80%;
}
.markdown ruby > rt {
  font-size: 50%;
}
.markdown p > code,
.markdown li > code {
  padding: 2px 4px;
  font-size: 90%;
  font-family: var(--mono-font-family);
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}
.markdown .shiki-filename {
  display: flex;
  flex-direction: column;
}
.markdown .shiki-filename .shiki-filename-title {
  align-self: flex-start;
  padding: 4px 12px;
  font-family: var(--mono-font-family);
  font-size: 80%;
  color: var(--primary-text-color);
  background-color: var(--astro-code-background);
  border-radius: 8px 8px 0 0;
}
.markdown .shiki-filename pre {
  margin: 0;
  border-top-left-radius: 0;
}
.markdown pre {
  display: block;
  border-radius: 8px;
}
.markdown pre > code {
  display: block;
  padding: 24px;
  color: var(--astro-code-color-text);
  font-family: var(--mono-font-family);
  font-size: 90%;
  line-height: 1.5;
}
.markdown ul,
.markdown ol {
  padding-left: 24px;
}
.markdown ul {
  list-style: disc;
}
.markdown ol {
  list-style: decimal;
}
.markdown li {
  text-align: left;
}
.markdown li > ul {
  margin: 0;
  list-style: circle;
}
.markdown hr {
  height: 2px;
  background-color: var(--border-color);
  border: 0;
}
.markdown img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.markdown blockquote {
  position: relative;
  padding-left: 24px;
}
.markdown blockquote:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 4px;
  border-radius: 8px;
  background-color: var(--border-color);
  content: "";
}
.markdown table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.markdown table th,
.markdown table td {
  padding: 8px;
  border: 1px solid var(--border-color);
}
.markdown table th {
  font-weight: 700;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
}
.markdown .iframe-wrapper {
  width: var(--width-wide);
  aspect-ratio: 16 / 9;
}
.markdown .iframe-wrapper iframe {
  width: 100%;
  height: 100%;
}
