*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

* {
  font-size: inherit;
  line-height: inherit;
}

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

a,
button,
input,
label,
select,
textarea,
[tabindex] {
  touch-action: manipulation;
}

b,
strong {
  font-weight: bolder;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

svg {
  fill: currentColor;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[hidden] {
  display: none;
}
