{{ partial "header.html" . }}

<main class="site-main">

  <article class="entry-content" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="meta">
      <span class="date" itemprop="datePublished"
      datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</span>
      <!-- {{ if .Params.categories }}{{ range .Params.categories }}<a href="/categories/{{ . | urlize }}" class="category-chips -linkable">{{ . }}</a>{{ end }}{{ end }} -->
    </div>
    <h1 class="name" itemprop="name">{{ .Title }}{{ if .Draft }} #Draft{{ end }}</h1>
    <section class="entry-text" itemprop="text">
      {{ if .Draft }}
        {{ .Content }}
      {{ else }}
        {{ $adsense := "<div class=\"entry-google-adsense\"><!-- rakuishi_responsive_171216 --><ins class=\"adsbygoogle\" style=\"display:block\" data-ad-client=\"ca-pub-9983442877454265\" data-ad-slot=\"3707083059\"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div>" }}
        {{ $output := printf "$1 %s $2$3" $adsense }}
        {{ .Content | replaceRE "(?s)^(.*?)(<h2.*?>.*?</h2>)(.*?)$" $output | safeHTML }}
      {{ end }}
    </section>

    <div class="entry-share">
      <a href="http://twitter.com/share?url={{ .Permalink }}&text={{ .Title }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,height=300,width=600');return false;" class="twitter">Twitter</a>
      <a href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,height=300,width=600');return false;" class="facebook">Facebook</a>
      <a href="http://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,scrollbars=yes,height=300,width=600');return false;" class="pocket">Pocket</a>
    </div>

    <div class="entry-google-adsense">
      <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-9983442877454265"
        data-ad-slot="3378617720"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
    <ul class="entry-list related-entry-list">
      {{ range . }}
        {{ if hasPrefix .RelPermalink "/archives/"  }}
          {{ .Render "summary"}}
        {{ end }}
      {{ end }}
    </ul>
    {{ end }}

    <div class="disqus-thread" id="disqus_thread"></div>
  </article>

</main>

{{ partial "footer.html" . }}
