{{ partial "header.html" . }}

<main class="site-main">

  <article class="entry-content" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="date" itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 02, 2006" }}</div>
    <h1 class="name" itemprop="name">{{ .Title }}{{ if .Draft }} #Draft{{ end }}</h1>
    {{ if .Params.categories }}{{ range .Params.categories }}<div class="category"><a href="/categories/{{ . | urlize }}" class="category-chips">{{ . }}</a></div>{{ end }}{{ end }}
    <section class="entry-text" itemprop="text">
      {{ if .Draft }}
        {{ .Content }}
      {{ else }}
        {{ $adsense := "<div class=\"entry-google-adsense\"><script async src=\"//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js\"></script><!-- rakuishi_responsive_171216 --><ins class=\"adsbygoogle\" style=\"display:block\" data-ad-client=\"ca-pub-9983442877454265\" data-ad-slot=\"3707083059\"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div>" }}
        {{ $output := printf "$1 %s $2$3" $adsense }}
        {{ .Content | replaceRE "(?s)^(.*?)(<h2.*?>.*?</h2>)(.*?)$" $output | safeHTML }}
      {{ end }}
    </section>

    <div class="entry-share">
      <a href="http://twitter.com/share?url={{ .Permalink }}&text={{ .Title }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,height=300,width=600');return false;" class="twitter" ontouchstart=""></a>
      <a href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,height=300,width=600');return false;" class="facebook" ontouchstart=""></a>
      <a href="http://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,scrollbars=yes,height=300,width=600');return false;" class="pocket" ontouchstart=""></a>
    </div>

    <div class="entry-google-adsense">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-9983442877454265"
        data-ad-slot="3378617720"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
    <ul class="entry-list related-entry-list">
      {{ range . }}
        {{ if hasPrefix .RelPermalink "/archives/"  }}
          {{ .Render "summary"}}
        {{ end }}
      {{ end }}
    </ul>
    {{ end }}

    <div class="disqus-thread" id="disqus_thread"></div>
    <script type="text/javascript" async="async">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'rakuishi'; // required: replace example with your forum shortname
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </article>

</main>

{{ partial "footer.html" . }}
