<li class="entry-list-item" itemscope itemtype="http://schema.org/Blog">
  <a href="{{ .RelPermalink }}">
    <div class="meta">
      <span class="date" itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 02, 2006" }}</span>
      {{ if .Params.categories }}{{ range .Params.categories }}<span class="category-chips">{{ . }}</span>{{ end }}{{ end }}
    </div>

    <h2 class="name" itemprop="headline">{{ .Title }}{{ if .Draft }} #Draft{{ end }}</h2>
    <div class="summary">{{substr .Summary 0 125}}</div>
  </a>
</li>
