---
import { SITE_CATEGORIES } from "../config";
const options = { year: "numeric" } as const;
const year = new Intl.DateTimeFormat("en-US", options).format(new Date());
---

<footer class="footer">
  <div class="footer_inner">
    <section class="footer_section">
      <form action="//google.com/search" method="get">
        <input
          type="text"
          name="q"
          placeholder="サイト内検索"
          autocomplete="off"
          class="footer_searchbar"
          aria-label="Search"
        />
        <input type="hidden" name="sitesearch" value="http://rakuishi.com" />
      </form>
      <p class="footer_categories">
        <a class="footer_category" href="/archives">Archives</a>
        {
          SITE_CATEGORIES.map(({ name, slug }) => (
            <a class="footer_category" href={`/categories/${slug}/`}>
              {name}
            </a>
          ))
        }
      </p>
    </section>

    <section class="footer_section">
      <h2 class="footer_title">Hey, I'm rakuishi</h2>
      <p class="footer_about">
        はじめまして。<a href="/about/">rakuishi</a>
         といいます。大学在籍中（微生物学を専攻）の 2012 年 1 月に趣味で初めた
        iOS
        アプリ開発が高じて、アプリ開発とフロントエンド・デベロッパを仕事にしています。個人開発した


        <a href="/quicka2/">Quicka</a> が有料アプリ 5
        位でした（過去の栄光）。このサイトは私個人によるブログです。会社とは関係ありません。
      </p>

      <p class="footer_analytics">
        このウェブサイトでは訪問者の行動を把握するために <a
          href="https://www.google.com/analytics/terms/jp.html"
          rel="noopener"
          target="_blank">Google アナリティクス</a
        >を設置しています。その際、お使いのブラウザに <a
          href="https://policies.google.com/technologies/cookies"
          rel="noopener"
          target="_blank">Cookie</a
        > を設定したり、既存の Cookie を読み取ったりする場合があります。
      </p>

      <p class="footer_copyright">
        © 2011-{year} rakuishi
      </p>
    </section>
  </div>
</footer>

<style>
  .footer {
    padding: 48px 0;
    background: var(--secondary-background-color);
    border-top: 1px solid var(--border-color);
    text-align: justify;
  }
  .footer_inner {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 24px;
  }
  .footer_section {
    margin-bottom: 24px;
  }
  .footer_section:last-child {
    margin-bottom: 0;
  }
  .footer_searchbar {
    display: inline-block;
    width: 100%;
    height: 44px;
    margin-bottom: 12px;
    padding: 12px;
    font-size: 16px;
    line-height: normal;
    outline: none;
    appearance: none;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    border: 2px solid var(--border-color);
    border-radius: 5px;
  }
  .footer_searchbar::placeholder {
    color: var(--secondary-text-color);
    opacity: 1;
  }
  .footer_searchbar:focus {
    border-color: var(--link-color);
  }
  .footer_category {
    display: inline-block;
    padding: 2px 10px;
    margin: 0 4px 4px 0;
    font-size: 14px;
    color: var(--secondary-text-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--primary-background-color);
  }
  .footer_category:hover {
    border-color: var(--link-color);
  }
  .footer_title {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .footer_about {
    margin-bottom: 12px;
    font-size: 14px;
    color: var(--secondary-text-color);
  }
  .footer_about a:hover {
    text-decoration: underline;
  }
  .footer_analytics {
    margin-bottom: 12px;
    font-size: 14px;
    color: var(--secondary-text-color);
  }
  .footer_analytics a:hover {
    text-decoration: underline;
  }
  .footer_copyright {
    font-size: 14px;
    color: var(--secondary-text-color);
  }
</style>
