---
import { SITE_TITLE } from "@/const";
---

<header class="header">
  <h1 class="header_title">
    <a class="header_title_inner" href="/">
      <img
        src="/assets/images/logo.png"
        width="32"
        height="32"
        class="header_title_logo"
        alt={SITE_TITLE}
        loading="lazy"
      />
      <span class="header_title_name">{SITE_TITLE}</span>
    </a>
  </h1>
  <nav class="header_nav">
    <a href="/about/" class="header_menu_text">
      About
    </a>
    <button
      id="toggle_theme_button"
      class="header_menu_button"
      aria-label="Darkmode ⇄ Lightmode"
    >
      <svg id="theme_dark_icon" aria-label="Darkmode" style="display: none;" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px">
        <path d="M480.03-121.83q-149.36 0-253.78-104.49Q121.83-330.8 121.83-480.07q0-149.26 104.47-253.85Q330.76-838.5 480-838.5q8.57 0 18.12.58 9.55.59 22.38 1.92-36.83 31.5-57.42 77.67-20.58 46.16-20.58 98.2 0 90.84 63.44 154.23 63.44 63.4 154.06 63.4 52.27 0 98.33-19.61 46.06-19.62 77.67-54.39 1.33 11.5 1.92 20.05.58 8.55.58 16.45 0 149.24-104.55 253.7-104.56 104.47-253.92 104.47Z"/>
      </svg>
      <svg id="theme_light_icon" aria-label="Lightmode" style="display: none;" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px">
        <path d="M480.03-281.83q-82.36 0-140.28-57.99-57.92-57.98-57.92-140.25 0-82.26 57.99-140.35 57.98-58.08 140.25-58.08 82.26 0 140.35 58.05 58.08 58.05 58.08 140.42 0 82.36-58.05 140.28t-140.42 57.92ZM198.5-448.5H41.83v-63.33H198.5v63.33Zm720 0H761.83v-63.33H918.5v63.33Zm-470-313.33V-918.5h63.33v156.67H448.5Zm0 720V-198.5h63.33v156.67H448.5Zm-188.5-616-98.33-94.5 45.66-47 94.5 98-41.83 43.5Zm493.33 496.5-95.16-98.34 42.5-43.5 97.66 95.5-45 46.34Zm-96.16-539.34 95.16-97.66 47 45-97.33 95.5-44.83-42.84ZM161.33-207.33l97.67-95.5 44.17 43.5-95 97.16-46.84-45.16Z"/>
      </svg>
    </button>
  </nav>
</header>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 48px auto;
    padding: 0 12px;
  }
  .header_title {
    display: inline-block;
  }
  .header_title_inner {
    display: inline-block;
    height: 56px;
    padding: 0 12px;
    border-radius: 8px;
  }
  .header_title_inner:hover {
    background: var(--secondary-background-color);
  }
  .header_title_logo {
    vertical-align: top;
    margin: 12px 8px 0 0;
  }
  .header_title_name {
    color: var(--primary-text-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
  }
  .header_nav {
    display: flex;
    align-items: center;
  }
  .header_menu_text {
    display: inline-block;
    height: 32px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 28px;
    color: var(--secondary-text-color);
    border: 2px solid var(--border-color);
    border-radius: 16px;
    background-color: var(--primary-background-color);
    text-transform: capitalize;
    margin-right: 8px;
  }
  .header_menu_text:hover {
    background: var(--secondary-background-color);
  }
  .header_menu_button {
    display: flex;
    width: 32px;
    height: 32px;
    line-height: 28px;
    color: var(--primary-text-color);
    border: 2px solid var(--border-color);
    align-items: center;
    justify-content: center;
    padding: 2px;
    cursor: pointer;
    /* appearance: none; */
    /* background: none; */
    border-radius: 16px;
    fill: var(--secondary-text-color);
  }
  .header_menu_button svg {
    fill: var(--secondary-text-color);
  }
  .header_menu_button:hover {
    background: var(--secondary-background-color);
  }
</style>
