---
import DarkIcon from "@/assets/theme-dark-icon.svg";
import LightIcon from "@/assets/theme-light-icon.svg";
import { SITE_TITLE } from "@/const";
---

<header class="header">
  <h1 class="header_title">
    <a class="header_title_inner" href="/">
      <img
        src="/assets/images/logo.png"
        width="32"
        height="32"
        class="header_title_logo"
        alt=""
        loading="lazy"
      />
      <span class="header_title_name">{SITE_TITLE}</span>
    </a>
  </h1>
  <nav class="header_nav">
    <a href="/about/" class="header_menu_text">
      About
    </a>
    <button
      id="toggle_theme_button"
      class="header_menu_button"
      aria-label="Darkmode ⇄ Lightmode"
    >
      <DarkIcon
        id="theme_dark_icon"
        aria-label="Darkmode"
        width="20px"
        height="20px"
        style="display: none;"
      />
      <LightIcon
        id="theme_light_icon"
        aria-label="Lightmode"
        width="20px"
        height="20px"
        style="display: none;"
      />
    </button>
  </nav>
</header>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 48px auto;
    padding: 0 12px;
  }
  .header_title {
    display: inline-block;
  }
  .header_title_inner {
    display: inline-block;
    height: 56px;
    padding: 0 12px;
    border-radius: 8px;
  }
  .header_title_inner:hover {
    background: var(--secondary-background-color);
  }
  .header_title_logo {
    vertical-align: top;
    margin: 12px 8px 0 0;
  }
  .header_title_name {
    color: var(--primary-text-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
  }
  .header_nav {
    display: flex;
    align-items: center;
  }
  .header_menu_text {
    display: inline-block;
    height: 32px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 28px;
    color: var(--secondary-text-color);
    border: 2px solid var(--border-color);
    border-radius: 16px;
    background-color: var(--primary-background-color);
    text-transform: capitalize;
    margin-right: 8px;
  }
  .header_menu_text:hover {
    background: var(--secondary-background-color);
  }
  .header_menu_button {
    display: flex;
    width: 32px;
    height: 32px;
    line-height: 28px;
    color: var(--primary-text-color);
    border: 2px solid var(--border-color);
    align-items: center;
    justify-content: center;
    padding: 2px;
    cursor: pointer;
    margin-right: 12px;
    border-radius: 16px;
    fill: var(--secondary-text-color);
  }
  .header_menu_button svg {
    fill: var(--secondary-text-color);
  }
  .header_menu_button:hover {
    background: var(--secondary-background-color);
  }
</style>
