<aside class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
	<div class="img"><img src="/images/layouts/rakuishi.jpg" width="60" height="60"></div>
	<div class="txt">
		<b itemprop="name">OCHIISHI Koichiro</b>, <b itemprop="nickname">rakuishi</b><br>
		東京都在住。89年生。趣味で iPhone アプリ <a href="https://itunes.apple.com/jp/app/quicka2-jian-suowo-kuai-shini/id725195676?mt=8&uo=4&at=11l3RT" target="_blank">Quicka2</a> を開発しています。仕事では、Android & Front-End Developr をしています。<br>
		<a href="/index.xml" target="_blank" class="icon-feed">Feed</a>
		<a href="https://twitter.com/rakuishi07" target="_blank" class="icon-twitter">Twitter</a>
		<a href="https://github.com/rakuishi/" target="_blank" class="icnon-github">GitHub</a>
	</div>
</aside>
