	<div class="google-adsense">
		<style>
		.google-adsense-responsive { width: 300px; height: 250px; }
		@media screen and (min-width:468px) { .google-adsense-responsive { width: 468px; height: 60px; } }
		/*@media screen and (min-width:728px) { .google-adsense-responsive { width: 728px; height:  90px; } }*/
		</style>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle google-adsense-responsive"
			style="display:block; margin: 0 auto;"
			data-ad-client="ca-pub-9983442877454265"
			data-ad-slot="3378617720"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>

	<footer>
		<div class="author" itemprop="author" itemscope itemtype="http://schema.org/Person"><img src="/images/layouts/rakuishi.jpg"><a href="/about/" rel="author" itemprop="url"><b itemprop="name">OCHIISHI Koichiro</b>, <b itemprop="nickname">rakuishi</b></a> 福岡県出身東京都在住。89年生。ブログを書いたり、iPhone アプリ（<a href="https://itunes.apple.com/jp/app/quicka2-jian-suowo-kuai-shini/id725195676?mt=8&uo=4&at=11l3RT" target="_blank">Quicka2↗</a>, <a href="https://itunes.apple.com/jp/app/id578073498?mt=8&uo=4&at=11l3RT" target="_blank">郵便番号検索くん↗</a>）を開発してます。最近は Android / WordPress / PHP / HTML+CSS をごにょごにょしてます。<a href="https://twitter.com/rakuishi07" target="_blank">@rakuishi07↗</a></div>
		<div class="copyright">Copyright &copy; 2011-2015 rakuishi All rights reserved</div>
	</footer>

</div>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-25383114-1', 'rakuishi.com');
	ga('send', 'pageview');
</script>

<script src="/js/google-code-prettify/prettify.js" async="async"></script>

</body>
</html>