<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-itunes-app" content="app-id=725195676">
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Montserrat:700' type='text/css'>
<link rel="stylesheet" href="/css/style.css?cb=150118">
<link rel="shortcut icon" href="/images/favicon.ico?cb=150118" type="image/x-icon">
<link rel="alternate" href="/feed.xml" type="application/rss+xml" title="{{ .Site.Title }}">
<title>{{ $isHomePage := eq .Title .Site.Title }}{{ if eq $isHomePage true }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
</head>
<body onload="prettyPrint()">

<div class="container">

	<nav class="gheader" role="navigation">
		<a href="/about/">About</a>
		<a href="/archives/">Archives</a>
		<a href="/feed.xml" target="_blank">RSS↗</a>
		<a href="http://feedly.com/index.html#subscription%2Ffeed%2Fhttp%3A%2F%2Frakuishi.com%2Ffeed%2F" target="_blank">Feedly↗</a>
	</nav>

	<header role="banner">
		{{ if eq $isHomePage true }}<h1><a href="/" class="site-title">{{ .Site.Title }}</a></h1>{{ else }}<a href="/" class="site-title">{{ .Site.Title }}</a>{{ end }}
	</header>