{{ partial "header.html" . }}

<main class="entry-list-container">
  <ul class="entry-list">
    {{ range (.Paginator 16).Pages }}
      {{ .Render "summary"}}
    {{ end }}
  </ul>
</main>

<nav class="entry-paginator">
  {{ if .Paginator.HasPrev }}
    <a class="prev" rel="prev" href="{{.Paginator.Prev.URL}}" ontouchstart="">← Newer</a>
  {{ end }}
    <a class="more" href="/archives/" ontouchstart="">View all posts</a>
  {{ if .Paginator.HasNext }}
    <a class="next" rel="next" href="{{.Paginator.Next.URL}}" ontouchstart="">Older →</a>
  {{ end }}
</nav>

{{ partial "footer.html" . }}
