:root {
  --sans-font-family: Arial, Noto Sans JP, Hiragino Kaku Gothic ProN, Meiryo,
    sans-serif;
  --mono-font-family: "Monaco", "Menlo", "Courier New", monospace;
  --font-size: 17px;
  --max-width: 640px;

  --primary-background-color: #ffffff;
  --secondary-background-color: #ebf0f5;
  --primary-text-color: #24292e;
  --secondary-text-color: #586069;
  --border-color: #e2e8f0;
  --link-color: #0052cc;

  font-family: var(--sans-font-family);
  font-weight: normal;
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  // word-break: break-all;
  // text-align: justify;
  line-height: 1.8;

  --hljs-text: #ffffff;
  --hljs-background: #292932;
}

[data-prefers-color-scheme="dark"] {
  --primary-background-color: #22272e;
  --secondary-background-color: #323941;
  --primary-text-color: #cdd9e5;
  --secondary-text-color: #909dab;
  --border-color: #424b5c;
  --link-color: #8ab4f8;
}

a,
a:hover {
  color: var(--link-color);
}

h1,
h2,
h3 {
  line-height: 1.6;
  font-weight: 700;
}
